<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Send AMQP Message</title>
</head>
<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item">
        <a th:href="@{/}">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Send AMQP Message</li>
</th:block>
<div layout:fragment="page_content" id="page_content">
    <h3>Send AMQP Message Response</h3>
    <p th:text="'Hello, sent message!'" />
    <a th:href="@{/}">Go Home</a>
</div>
</html>