<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Sample Page</title>
</head>
<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item">
        <a th:href="@{/}">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Sample Page</li>
</th:block>
<div layout:fragment="page_content" id="page_content">
    <h3>Sample Page</h3>
    <p th:text="'Hello, ' + ${now} + '!'" />
    <div class="alert alert-info collapse" id="js-content">
    </div>
    <a th:href="@{/}">Go Home</a>
</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/sample-page.js}">
    </script>
</th:block>

</html>