<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>User Page</title>
</head>
<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item">
        <a th:href="@{/}">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">User</li>
</th:block>
<div layout:fragment="page_content" id="page_content">
    <h3>User Authenticated Page</h3>
    <p th:text="'Hello, ' + ${user.userAuthentication.details.name} + '!'" />
    <a th:href="@{/}">Go Home</a>
    <form method="POST" action="/logout"><button type="submit">Logout</button></form>
</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/user-page.js}">
    </script>
</th:block>

</html>